<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://onlix.me/lila.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css">

    <title>Crêpes</title>
</head>
<body>
    <header class="transparent-35" style="--image: url('http://127.0.0.1:3636/assets/pancakes.jpg')">
        <h1>Crêpes</h1>
        <p>Online-shop for homemade Crêpes</p>
    </header>
