{% include "_top.html" %}
<main class="fresh night">
    <div class="posts zoom-effect">
        <div class="post">
            <img src="/assets/pancakes.jpg">
            <div class="content">
                <h4>Banana Crêpe <mark style="color: black;">Popular</mark></h4>
                <p>I am a placeholder text. Lorem ipsum, ignore me!</p>
                <a href="/order/banana"><button><i class="bi bi-cash"></i> <s>1.20€</s> <strong>1.00€</strong></button></a>
            </div>
        </div>
        <div class="post">
            <img src="/assets/pancakes.jpg">
            <div class="content">
                <h4>Strawberry Crêpe</h4>
                <p>I am a placeholder text. Lorem ipsum, ignore me!</p>
                <a href="/order/strawberry"><button><i class="bi bi-cash"></i> <s>1.30€</s> <strong>1.10€</strong></button></a>
            </div>
        </div>
        <div class="post">
            <img src="/assets/pancakes.jpg">
            <div class="content">
                <h4>Crêpe</h4>
                <p>I am a placeholder text. Lorem ipsum, ignore me!</p>
                <a href="/order/banana"><button><i class="bi bi-cash"></i> <s>1.40€</s> <strong>1.20€</strong></button></a>
            </div>
        </div>
    </div>
</main>

{% include "_bottom.html" %}